@import "../../scss/variables";

.header {
    padding: 40px 0;
    border-bottom: 1px solid #eaeaea;
    @media (max-width: $mobile) {
        padding: 20px 0;
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            margin-right: 16px;
        }
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: $darkBlue;
        img {
            margin-right: 16px;
        }
        .blue {
            color: red;
        }
        @media (max-width: $mobileSmall) {
            align-self: flex-start;
        }
    }
    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }
    &__actions-item {
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #5c5c5c;
        transition: all 0.3s ease 0s;
        svg {
            path {
                transition: all 0.3s ease 0s;
                fill: #5c5c5c;
            }
        }
        .totalPrice {
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                svg {
                    path {
                        fill: $blue;
                    }
                }
                .totalPrice {
                    color: $blue;
                }
            }
        }
    }
}