@use "sass:math";

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;

  &_open {
    visibility: visible;
    opacity: 1;
  }

}

.drawer {
  margin-left: auto;
  max-width: 400px;
  height: 100%;
  background-color: #fff;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  position: relative;
  right: -100%;
  transition: all 0.3s ease-in-out 0s;

  &_open {

    right: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: math.div(29, 24);
  }

  &__body {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__totalPrice {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
  }

  &__orderBtn {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    min-height: 55px;
    background: #9dd558;
    border-radius: 10px;
  }

  &__empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      text-align: center;
      font-size: 22px;
    }
  }
}

.cartItem {
  display: grid;
  border-radius: 10px;
  // overflow: hidden;
  grid-template-columns: 40% 1fr 32px;
  gap: 10px;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(211, 211, 211);
  }

  &__img {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding-top: percent(854, 640);

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__name {
  }

  &__price {
  }

  &__removeBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid $darkBlue;
    border-radius: 8px;

    path {
      fill: $darkBlue;
    }

    @media (any-hover: hover) {
      &:hover {
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid $blue;

        path {
          fill: $blue;
        }
      }
    }
  }
}

.close__btn {
}

.crossIcon {
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      path {
        fill: $blue;
      }
    }
  }
}

.page {
  padding: 40px 0;
  @media (max-width: $mobileSmall) {
    padding: 20px 0;
  }
}

.catalog {
  &__header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    @media (max-width: $mobileSmall) {
      margin-bottom: 20px;
    }

    &_flex {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    // font-size: 32px;
    @include adaptiveValue("font-size", 32, 22);
    line-height: math.div(39, 32);
    color: #000000;
  }
  &__orderDate{
    font-size: 22px;
    margin: 40px 0 20px 0;
  }
  &__actions {
    display: flex;
    justify-content: flex-end;

    .search {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      &__btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 45px;
        height: 45px;
        border-radius: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      &__input {
        min-height: 45px;
        width: 100%;
        border: 1px solid #f3f3f3;
        border-radius: 5px;
        padding: 0 15px 0 45px;
      }
    }
  }
}
.notFoundGame {
  font-size: 24px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  .card {
    // padding: 20px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
        transform: translate(0, -5px);

        .card__wishlistBtn {
          opacity: 1;
          visibility: visible;
        }
      }
    }


    &__top {
      position: relative;
    }

    &__wishlistBtn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 32px;
      height: 32px;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid $darkBlue;
      border-radius: 8px;
      z-index: 3;
      transition: all 0.3s ease 0s;

      svg {
        width: 16px;
        height: 16px;
      }

      path {
        transition: all 0.3s ease 0s;
        //fill: $darkBlue;
        fill: #f55959;
      }

      @media (any-hover: hover) {
        opacity: 0;
        visibility: hidden;
        &:hover {
          background: rgba(255, 255, 255, 0.8);
          border: 1px solid $blue;

          path {
            fill: $blue;
          }
        }
      }
    }

    &__img {
      position: relative;
      padding-top: percent(854, 640);

      img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &__name {
      font-size: 18px;
      line-height: 1.1;
      color: #000000;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__price {
      font-weight: 700;
      font-size: 20px;
      line-height: math.div(17, 18);
      color: #000000;
    }

    &__addBtn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background: #ffffff;
      border: 1px solid $darkBlue;
      border-radius: 8px;

      svg {
        width: 16px;
        height: 16px;

        path {
          fill: $darkBlue;
        }
      }

      @media (any-hover: hover) {
        &:hover {
          background: rgba(255, 255, 255, 0.8);
          border: 1px solid $blue;

          svg {
            path {
              fill: $blue;
            }
          }
        }
      }
    }
  }
}

.wishlist__backBtn {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  path {
    transition: all 0.3s ease 0s;
    fill: $darkBlue;
  }

  @media (any-hover: hover) {
    &:hover {
      svg {
        path {
          fill: $blue;
        }
      }
    }
  }
}

.cardLoading {
  padding-top: percent(400, 247);
  background: linear-gradient(90deg, #e0edff, $blue, #e0edff);
  background-size: 400% 400%;
  animation: gradient 4s ease-in-out infinite;
  opacity: .5;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

